<div class="container">
    <div class="box">
        <a href="/clientLogin" (click)="goToLogin()" class="back-to-login-link">← Back to login</a>
    
        <h2>OTP Verification</h2>
        <p>Enter the 6-digit OTP sent to your registered email</p>
    
        <form [formGroup]="clientForgotOtpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="otp-inputs">
                    <input *ngFor="let control of objectValues(clientForgotOtpForm.controls); let i = index" type="text" maxlength="1"
                        [formControlName]="i" class="otp-input" (input)="onOtpInput($event, i)"
                        (keydown)="onKeyDown($event, i)" />
                </div>
                <div *ngIf="isOtpComplete()" class="error-message">
                    {{ otpErrorMessage }}
                </div>
            </div>
    
            <div class="timer">
                <span *ngIf="loginOtpResendTimeLeft > 0">{{ loginOtpResendTimeLeft }}</span>
                <span onkeydown="" *ngIf="loginOtpResendTimeLeft === 0" (click)="resendOtp()" class="resend-link">Resend
                    OTP</span>
            </div>
    
            <button type="submit" [disabled]="clientForgotOtpForm.invalid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>