.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container .form-control {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

.error {
  color: red;
  font-size: 12px;
}

button:disabled {
  background-color: grey;
}