<div class="h-full relative flex items-center justify-center">
  <div class="2xl:w-[600px]">
    <div class="absolute text-gray-900 top-6 left-0">
      <a
        class="flex items-center gap-[6px]"
        href="/login"
        (click)="backToLogin()"
        ><img src="../../../../../assets/img/arrow.svg" alt="" /> Back to
        login</a
      >
    </div>

    <h2 class="text-gray-900 font-medium mb-3 text-2xl md:text-[40px]">
      Forgot Password?
    </h2>
    <p class="text-gray-800 text-xl">
      Don’t worry! We’ll help you reset your password
    </p>
    <form
      [formGroup]="forgotPasswordEmailForm"
      (ngSubmit)="onSubmit()"
      class="mt-10"
    >
      <div>
        <!-- <label for="email"
          >Don't worry! We'll help you reset your password</label
        >
        <input
          type="email"
          id="forgotPasswordEmail"
          formControlName="email"
          required
          placeholder="Enter your email address"
          class="form-control"
        />
        <div
          *ngIf="
            forgotPasswordEmailForm.get('email')?.invalid &&
            forgotPasswordEmailForm.get('email')?.touched
          "
          class="error-message"
        >
          {{ getErrorMessage("email") }}
        </div> -->
        <app-input
          for="email"
          controlName="email"
          label="Email"
          inputType="email"
          placeholder="Enter you email address"
          [parentForm]="forgotPasswordEmailForm"
        ></app-input>
      </div>

      <div class="mt-10">
        <app-button
          [disabled]="forgotPasswordEmailForm.invalid"
          type="submit"
          label="Continue"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
