<div class="container">
    <div class="box">
        <a href="/clientLogin" class="back-to-login-link">← Back to login</a>
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotPassEmailForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Don't worry! We'll help you reset your password</label>
                <input type="email" id="clientForgotPassEmail" formControlName="email" required
                    placeholder="Enter your email address" class="form-control" />
                <div *ngIf="forgotPassEmailForm.get('email')?.invalid && forgotPassEmailForm.get('email')?.touched"
                    class="error-message">
                    {{ getErrorMessage('email') }}
                </div>
            </div>
            <div>
                <button type="submit" [disabled]="forgotPassEmailForm.invalid">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>