<div class="container">
    <a href="/clientLogin" (click)="goToLogin()" class="back-to-login-link">← Back to login</a>

    <h2>Set a New Password?</h2>
    <p>Your password must be between 8 and 16 characters long.</p>

    <form [formGroup]="clientPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input id="newClientPassword" type="password" formControlName="newPassword" placeholder="Your password" />
            <div *ngIf="clientPasswordForm.get('newPassword')?.invalid && clientPasswordForm.get('newPassword')?.touched"
                class="error-message">
                {{ getErrorMessage('newPassword') }}
            </div>
        </div>
        <div class="form-group">
            <label for="confirmClientPassword">Confirm Password</label>
            <input id="confirmClientPassword" type="password" (blur)="matchPassword()"
                formControlName="confirmClientPassword" placeholder="Your password" />
            <div *ngIf="clientPasswordForm.get('confirmClientPassword')?.invalid && clientPasswordForm.get('confirmClientPassword')?.touched"
                class="error-message">
                {{ getErrorMessage('confirmClientPassword') }}
            </div>
        </div>

        <button type="submit" [disabled]="clientPasswordForm.invalid">Update Password</button>
    </form>
</div>