<div class="h-full relative flex items-center justify-center">
  <div class="2xl:w-[600px]">
    <div class="absolute text-gray-900 top-6 left-0">
      <a
        class="flex items-center gap-[6px]"
        href="/login"
        (click)="backToLogin()"
        ><img src="../../../../../assets/img/arrow.svg" alt="" /> Back to
        login</a
      >
    </div>

    <h2 class="text-gray-900 font-medium mb-3 text-2xl md:text-[40px]">
      OTP Verification
    </h2>
    <p class="text-gray-800 text-xl">
      Enter the 6-digit OTP sent to your registered email
    </p>

    <form
      id="signInForgotPasswordOtpForm"
      [formGroup]="otpForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <div class="flex space-x-2 md:space-x-6 mt-10 mb-5">
          <input
            *ngFor="
              let control of objectValues(otpForm.controls);
              let i = index
            "
            type="text"
            maxlength="1"
            [formControlName]="i"
            class="rounded-lg border border-gray-500 px-6 w-12 h-12 md:w-[72px] md:h-[67px] text-center text-gray-700 focus:border-gray-700"
            (input)="onOtpInput($event, i)"
            (keydown)="onKeyDown($event, i)"
          />
        </div>
        <div *ngIf="isOtpIncomplete()" class="text-red-500 mb-5">
          {{ otpErrorMessage }}
        </div>
      </div>
      <div class="timer">
        <span
          class="bg-misc-pearlBush px-2 py-2.5 rounded-lg w-[65px] block text-center"
          *ngIf="signInOtpResendTimeLeft > 0"
          >{{ signInOtpResendTimeLeft }}</span
        >
        <span
          onKeyPress
          *ngIf="signInOtpResendTimeLeft === 0"
          (click)="resendOtp()"
          class="underline text-primary-base"
          >Resend OTP</span
        >
      </div>

      <div class="mt-10">
        <app-button [disabled]="otpForm.invalid" type="submit" label="Submit">
        </app-button>
      </div>
    </form>
  </div>
  <div class="absolute inset-x-0 bottom-6 flex justify-center">
    <div class="text-gray-900 text-lg text-center">
      Don't have an account?
      <a
        href="
    "
        class="text-primary-base"
      >
        Create Now</a
      >
    </div>
  </div>
</div>
